downloads
models
/__pycache__
__pycache__
.vscode
/faces
/dataset
/test
/process.log
/*.log
/archive
/test.py
/ilfw
logs
/names
/settings.json
/archives
/original_faces
/98_rename_single_names.py
/99_rename_names.py
/.metals
/others
/faces-extra
/downloads-extra
